HTML5 Element: Normalize and reset style
<hr>

<!-- Section -->
#Sections
<hr>
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
<article>Article</article>
<nav>Nav</nav>
<aside>Aside</aside>
<section>Section</section>
<header>Header</header>
<footer>Footer</footer>
<address>Address</address>

<!-- Grouping -->
#Grouping
<hr>
<p>Paragraph</p>
<pre>Pre</pre>
<blockquote>Blockquote</blockquote>
<ol>
  <li>Order list 1</li>
  <li>Order list 2</li>
  <li>Order list 3</li>
</ol>
<ul>
  <li>Order list 1</li>
  <li>Order list 2</li>
  <li>Order list 3</li>
</ul>
<dl>
  <dt>*Description term/name 1</dt>
  <dd>>>> Description term/name detail 1</dd>
  <dt>*Description term/name 2</dt>
  <dd>>>> Description term/name detail 2</dd>
</dl>
<figure>
  <img src="../../assets/images/sample-image-1.jpg" style="width: 100px; height:auto;" alt="sample-image-1">
  <figcaption>Image description</figcaption>
</figure>
<div>DIV</div>

<!-- Table -->
#Table
<hr>
<table>
  <thead>
    <tr>
      <th>th 1</th>
      <th>th 2</th>
      <th>th 3</th>
      <th>th 4</th>
      <th>th 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>td 1</td>
      <td>td 2</td>
      <td>td 3</td>
      <td>td 4</td>
      <td>td 5</td>
    </tr>
  </tbody>
</table>

<!-- Form -->
#Form
<hr>
<form action="" method="">
  <fieldset>
    <legend>Personal information:</legend>
    <div>
      <label for="">Name:</label>
      <input type="text" name="" placeholder="Insert name...">
    </div>
    <div>
      <label for="">Last name:</label>
      <input type="text" name="" placeholder="Insert last name...">
    </div>
    <div>
      <label for="">Date of birth:</label>
      <select name="" id="">
        <option value="">21/04/2528</option>
        <option value="">22/04/2528</option>
        <option value="">23/04/2528</option>
      </select>
    </div>
    <div>
      <label for="">History:</label>
      <textarea name="" id="" rows="5"></textarea>
    </div>
  </fieldset>
  <button type="submit" value="">Submit</button>
</form>

<!-- Embedded -->
#Embedded
<hr>
<picture>
  <source media="(max-width: 414px)" srcset="https://www.w3schools.com/tags/img_pink_flowers.jpg">
  <source media="(max-width: 768px)" srcset="https://www.w3schools.com/tags/img_white_flower.jpg">
  <source media="(max-width: 1024px)" srcset="https://www.w3schools.com/tags/img_orange_flowers.jpg">
  <img src="../../assets/images/sample-image-1.jpg" style="width: 100px; height:auto;" alt="sample-image-1">
</picture>

<br>

<iframe src="https://www.w3schools.com" width="320" height="200" frameborder="1"></iframe>

<br>

<video width="300" controls>
  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
  <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
  Your browser does not support HTML5 video.
</video>

<br>

<audio controls>
  <source src="https://www.w3schools.com/html/horse.mp3" type="audio/mpeg">
  <source src="https://www.w3schools.com/html/horse.ogg" type="audio/ogg">
  Your browser does not support HTML5 audio.
</audio>

<br>

<img src="../../assets/images/sample-image-1.jpg" style="width: 100px; height:auto;" alt="sample-image-1">

<br>

<!-- Text-level -->
#Text-level
<hr>
<a href="">Link</a>
<strong>Strong</strong>
<i>Italic</i>
<b>Bold</b>
<small>Small</small>
<sub>Sub</sub>
<sup>Sup</sup>
<time datetime="2017-04-21 21:00">21 Apr 2017, 9.00 pm</time>
<span>span</span>
