<p>HOME</p>
<ul>
  <li><a ui-sref="about.index">Go to About</a></li>
  <li><a ui-sref="showcase.index">Go to Showcase</a></li>
</ul>

<img src="../../assets/images/sample-image-1.jpg" style="width: 100px; height:auto;" alt="sample-image-1">
